<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>留言板</title>
</head>
<body>
    <h3>輸入留言</h3>
    <form action="/message" method="POST">
        姓名<input type="text" name="name" /><br/>
        內容<input type="text" name="msg" />
        <button>送出留言</button>
    </form>

    <h3>留言列表</h3>
    <% 
        msgs = msgs.map(function(msg) {
            return '<div>' + msg.name + '</div>' + '<div>' + msg.msg + '</div>'+ '<div>' + msg.time + '</div>'
        }) 
    %>
    <p><%- msgs.join("<hr />") %></p>
</body>
</html>